body {
  background: #ffff center/cover;
  padding: 0px;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.menu-bar {
  height: 100vh;
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
  background-color: #001529;
}
